#about .title {
  margin-top: 70px;
  width: 100%;
  position: relative;
}
#about .title .tit {
  text-align: center;
  width: 150px;
  height: 70px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
}
#about .title p:first-of-type {
  color: #434343;
  line-height: 30px;
  font-size: 20px;
}
#about .title p:last-of-type {
  color: #434343;
  line-height: 30px;
  font-size: 25px;
}
#about .title .line {
  position: absolute;
  width: 500px;
  height: 2px;
  background-color: #A61C00;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.about-contain {
  width: 1100px;
  margin: 0 auto;
}
.about-contain .poster-main {
  float: left;
}
.about-contain .poster-main .poster-btn {
  margin-top: 50px;
}
.about-contain .poster-main .poster-prev-btn {
  width: 100px;
  height: 100px!important;
}
.about-contain .poster-main .poster-next-btn {
  width: 100px;
  height: 100px!important;
}
.about-contain .text {
  width: 500px;
  float: right;
  text-indent: 2em;
  margin-top: 100px;
  font-size: 13px;
  line-height: 20px;
  color: #434343;
}
.flow-title {
  margin-top: 125px;
  width: 100%;
  position: relative;
}
.flow-title .tit {
  text-align: center;
  width: 200px;
  height: 70px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
}
.flow-title p:first-of-type {
  color: #434343;
  line-height: 30px;
  font-size: 20px;
}
.flow-title p:last-of-type {
  color: #434343;
  line-height: 30px;
  font-size: 25px;
}
.flow-title .line {
  position: absolute;
  width: 500px;
  height: 2px;
  background-color: #A61C00;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#flow {
  position: relative;
  margin-top: 255px;
  height: 100%;
}
#flow .pic {
  width: 1010px;
  margin: 100px auto;
  margin-bottom: 0;
}
#flow .pic li {
  float: left;
  margin-right: 70px;
  text-align: center;
  color: #666;
}
#flow .pic li img {
  width: 110px;
  margin-bottom: 30px;
}
#flow .pic li p:last-of-type {
  font-size: 12px;
}
#flow .pic li:last-of-type {
  margin-right: 0;
}
